<section id="home">
  <div data-aos="fade-right" data-aos-duration="500">
    <h1 class="name">Danyl</h1>
    <h1 class="surname">Fernandes</h1>
    <p class="home-content">
      "Complete Nerd. Thinks Linux is awesome. Loves Open Source stuff. Authors
      a <a href="/bible/" class="mark-bible-blog">Blog on the Bible</a>"
    </p>
  </div>
</section>

<section id="work">
  <div data-aos="fade-left" data-aos-duration="500">
    <h1 class="title-work">Work</h1>
    <p class="description-work">
      "His love for Android has drived him to persue a career in Android
      Development
    </p>

    <h2 class="title-apps">Apps</h2>
    <p class="description-apps">
      "He has published 2 apps on the
      <a
        href="https://play.google.com/store/apps/developer?id=Danyl+Fernandes&hl=en"
        class="mark-google-play"
        >Google Play Store</a
      >
    </p>

    <h2 class="title-code">Code</h2>
    <p class="description-code">
      "Most of his work can be found on
      <a href="https://github.com/gitryder" class="mark-github">GitHub</a>
    </p>
  </div>
</section>

<section id="about">
  <div data-aos="fade-right" data-aos-duration="500">
    <h1>About</h1>
    <p class="about-line-one">
      "Danyl is a <span class="mark-dev">developer</span> and loves solving
      problems through building apps
    </p>
    <p class="about-line-two">
      "Because he studies the Bible so much, he answers questions on the Bible
      too. Feel free to contact him
    </p>
    <p class="about-line-three">
      "The entirety of this website was designed by him
    </p>
  </div>
</section>

<section id="social">
  <div data-aos="fade-left" data-aos-duration="500">
    <h1>Social</h1>
    <p class="social-line-one">
      "Danyl doesn’t use Facebook and Instagram and recommends against using
      them
    </p>
    <p class="social-line-two">
      "Find him on
      <a href="https://twitter.com/androidanyl" class="mark-twitter">Twitter</a>
    </p>
    <p class="social-line-three">
      or drop him an
      <a
        href='mailto:androidan1304@gmail.com?Subject="Hey, Danyl!"'
        class="mark-email"
        >email</a
      >
      here."
    </p>
  </div>
</section>
