:root {
    --bgcolor: #FFDE03;
}

body {
    margin: 14px;
    background-color: var(--bgcolor);
}

.page-title {
    margin: -10px 0px 0px 0px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;

    color: #000000;
}

.page-subtitle {
    margin-top: -12px;
    margin-left: 5px;
    margin-bottom: 20px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    color: #000000;
}

.post-container {
    background-color: whitesmoke;

    margin: 3px 0px 8px 0px;
    padding: 5px 10px;

    border: 1px solid;
    border-radius: 8px;
}

.post-container:hover {
    border: 2px solid #3eb650;
}

.post-title {
    margin: 5px 0px 0px 0px;

    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

p {
    margin: 0px 0px 14px 0px;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    color: #3A3A3A;
}

.post-date {
    margin: 0px 0px 0px 0px;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    color: #5A5A5A;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}

@media screen and (min-width: 600px) {
    .post-container {
        width: 315px;
        display: inline-block;
    }
}

@media screen and (max-width: 470px) {
    .page-title { font-size: 65px; }
    .page-subtitle { font-size: 45px; margin-left: 2px;}
    .post-title { font-size: 28px; }
    p, .post-date { font-size: 18px; }
}

@media screen and (max-width: 400px) {
    .page-title { font-size: 60px; }
    .page-subtitle { font-size: 45px; margin-left: 2px;}
    .post-title { font-size: 25px; }
    p, .post-date { font-size: 17px; }
}

@media screen and (max-width: 360px) {
    .page-title { font-size: 60px; }
    .page-subtitle { font-size: 45px; margin-left: 2px;}
    .post-title { font-size: 20px; }
    p, .post-date { font-size: 15px; }
}