html {
    scroll-behavior: smooth;
}

body {
    margin: 14px 10%;
    position: relative;
    background: #FFCB14;
}

.profile-img {
    width: 120px;
    height: 120px;
    margin: 50px 0px 0px 0px;
    border-radius: 236px;
}

.header-title-first, .header-title-last {
    font-family: Playfair Display;
    font-size: 70px;

    color: #000000;

}

.header-title-first {
    margin: -10px 0px 0px 0px;
    
    font-weight: 900;
}

.header-title-last {
    margin: -38px 0px 0px 0px;

    font-weight: normal;
}

/* for content.html */
.content {
    margin: 8px 0px 10px 0px;

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;

    color: #000000;
}

a.page-tech, 
a.page-bible,
a.page-twitter,
a.page-github,
a.page-email {
    font-weight: 700;
}

.page-title {
    margin: 0;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

a:link {
    
    color: #710673;
}

a:visited {
    color: #710673;
}

a:hover {
    color: white;
    
}

@media screen and (min-width: 1000px) {
    body {
        margin: 14px 20%;
    }
}

@media screen and (max-height: 1000px) {
    body { 
        margin-top: 0px; 
        margin-bottom: 0px;
    }

    .profile-img {
        margin-top: 33%;
    }
}

@media screen and (max-height: 750px) {
    body { 
        margin-top: 0px; 
        margin-bottom: 0px;
    }

    .profile-img {
        margin-top: 15%;
    }
}

@media screen and (max-height: 640px) {
    body { 
        margin-top: 0px; 
        margin-bottom: 0px;
    }

    .profile-img {
        margin-top: 12%;
    }
}

@media screen and (max-height: 568px) {
    body { 
        margin-top: 0px; 
        margin-bottom: 0px;
    }

    .profile-img {
        margin-top: 10%;
    }
}

@media screen and (max-width: 470px) {
    body { margin: 0px 8% }
    .header-title-first, .header-title-last { font-size: 65; }
    .header-title-last { margin-top: -30; }
    .content { font-size: 28px; }
}

@media screen and (max-width: 400px) {
    body { margin: 0px 5% }
    .header-title-first, .header-title-last { font-size: 60; }
    .header-title-last { margin-top: -30; }
    .content { font-size: 28px; }
}

@media screen and (max-width: 360px) {
    body { margin: 0px 8% }
    .header-title-first, .header-title-last { font-size: 60; }
    .header-title-last { margin-top: -30; }
    .content { font-size: 28px; }
}

@media screen and (max-width: 320px) {
    body { margin: 0px 5% }
    .header-title-first, .header-title-last { font-size: 60; }
    .header-title-last { margin-top: -30; }
    .content { font-size: 24px; }
}

