:root {
    --textColor: #f2f3f8;
    --background: #000000;
    --headerFont: 'Inter';
    --contentFont: 'IBM Plex Serif';
}

body {
    background-color: var(--background);

    font-family: var(--headerFont);
}

img#header-image {
    border-radius: 5px;
    max-width: 100%;
    vertical-align: middle;
}

.container {
    margin: 14px 10% 14px 10%;

    display: inline-block;
}

.post-meta-date {
    margin: 0px;
    margin-left: 4px;

    font-family: var(--contentFont);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: var(--textColor);
}

a:link {
    color: tomato;
    text-decoration: none;
}

a:visited {
    color: tomato;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 5px;
    max-width: 100%;
    vertical-align: middle;
}

hr {
    border: 1px solid var(--textColor);
}

h1, h2, h3, h4 {
    margin: 35px 0px 25px 0px;
    font-weight: normal;

    line-height: 40px;

    color: var(--textColor);
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

p, li, code {
    color: var(--textColor); 

    font-family: var(--contentFont), sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}

p {
    margin-top: 30px;
    
}

li {
    margin-bottom: 20px;
}

strong {
    font-style: normal;
    font-weight: 700;
}

blockquote {
    background: #242424;
    border-left: 8px solid springgreen;
    margin: 0;
    padding: 0.5em 25px;
    border-radius: 5px;
    quotes: "\201C""\201D""\2018""\2019";
  }

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.10em;
    vertical-align: -0.4em;
}
  
blockquote p {
    color:  var(--textColor);
    display: inline;
}

nav {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

nav a {
    font-size: 20px;

    list-style-type: none;
    display: inline-block;

    padding: 5px;
    margin: 0px 15px;
}

p.copyright {
    font-family: var(--headerFont);
    margin-top: 0px;

    font-size: 18px;
    color: var(--textColor);
    text-align: center;
}

/* Media Queries for Responsiveness */  

@media screen and (max-width: 850px) {
    .container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 14px 7% 14px 7%;
    }

    h1, h2, h3, h4 {
        line-height: 45px;
    }
}

@media screen and (max-width: 470px) {
    .container {
        margin: 14px 3% 14px 3%;
    }

    .post-meta-date { font-size: 20px; }

    h1, h2, h3, h4 {
        line-height: 45px;
    }

    h1 { font-size: 45px; }
    h2 { font-size: 40px; }
    h3 { font-size: 35px; }
    h4 { font-size: 30px; }
    p, li { font-size: 19px; }
    blockquote p { font-size: 18px; }
}

@media screen and (max-width: 400px) {
    .container {
        margin: 14px 3% 14px 3%;
    }

    .post-meta-date { font-size: 20px; }

    h1 { font-size: 45px; }
    h2 { font-size: 40px; }
    h3 { font-size: 35px; }
    h4 { font-size: 30px; }
    p, li, code { font-size: 19px; }
    blockquote p { font-size: 17px; }   
}

@media screen and (max-width: 360px) {
    .container {
        margin: 14px 5% 14px 5%;
    }

    .post-meta-date { font-size: 20px; }

    h1, h2, h3, h4 {
        line-height: 40px;
    }

    h1 { font-size: 40px; }
    h2 { font-size: 35px; }
    h3 { font-size: 30px; }
    h4 { font-size: 25px; }
    p, li, code { font-size: 17px; }
    blockquote p { font-size: 16px; }
}

@media screen and (max-width: 320px) {
    .container {
        margin: 15px;
    }

    h1 { font-size: 40px; }
    h2 { font-size: 35px; }
    h3 { font-size: 30px; }
    h4 { font-size: 25px; }
    p, li, code { font-size: 17px; }
    blockquote p { font-size: 16px; }
}

/*
Social links
*/

.social-links-container {
}

.social-links-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    margin-left: auto;
    margin-right: auto;

}

.sharing-link:hover{
    text-decoration: none;
}

.button-container {
    display:inline-block;
    place-items: center;

    padding: 7px;
    margin: 4px;

    border-radius: 10px;
}

.facebook {
    background-color: #395185;
}

.twitter {
    background-color: #55acee;
}

.whatsapp {
    background-color: #56D062;
}

.link-name {
    font-family: Inter;
    display: none;
}