<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bible.css" />
    {% include gen_fonts.html %}
    <title>Bible Study</title>
    {% include gtag.html %}
</head>
<body>
    <div class="container">
        <h1 class="page-title">Blog</h1>
        <h1 class="page-subtitle">{{page.title}}</h1>
        {% include bible_posts.html %}
    </div>

    <!--
        <script>
        var colors = ['#EF8EFF', '#77FDA5', '#FFDE03'];
  
        var randomColorInt = Math.floor(Math.random() * 3);
        console.log(randomColorInt);
        
        document.documentElement.style.setProperty('--bgcolor', colors[randomColorInt]);  
      </script>
    -->
</body>
</html>