<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="{{page.title}}">
    <meta name="og:description" content="{{page.desc}}">
    {% if page.img %} 
        <meta name="og:image" content="https://danyl.pw{{page.img}}">
    {% endif %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post.css" />
    {% include content_fonts.html %}
    <title>{{page.title}}</title>
    {% include gtag.html %}
</head>
<body>
    <div class="container">
        <p class="post-meta-date">{{page.date | date: "%b %-d"}}</p>
        <hr class="post-meta-hr">
        {{content}}
        
        {% include social_links.html %}
    </div>
    {% include footer.html %}
</body>
</html>








  
  